ENV_CDT_PORT=3003
NODE_ENV=development
ENV_CDT_BASE_PATH=/api/
ENV_CDT_DB_HOST=localhost
ENV_CDT_DB_USERNAME='db_username'
ENV_CDT_DB_PASSWORD='db_password'
ENV_CDT_DB_DIALECT='mssql or oracledb or mysql or pg'
ENV_CDT_DB_NAME='database_name';
ENV_CDT_DB_PORT='database_port'